{
    "photoDbFile":"/Users/user1/tmp/photos_db.json",
    "sources":[
        {
            "id":"user1",
            "type":"Picasa",
            "username":"user1@gmail.com",
            "password":"USE_AN_APP_PASSWORD"
        },
        {
            "id":"user2",
            "type":"Picasa",
            "username":"user2@gmail.com",
            "password":"USE_AN_APP_PASSWORD"
        },
        {
            "id":"apollo:user1",
            "type":"iPhoto",
            "albumXml":"/Users/user1/Pictures/iPhoto Library.photolibrary/AlbumData.xml"
        },
        {
            "id":"apollo:user2",
            "type":"iPhoto",
            "albumXml":"/Users/user2/Pictures/iPhoto Library/AlbumData.xml"
        }
    ]
}